<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Have They Said?</title>

        
    </head>
    <body>
        <h1>Have They Said?</h1>
        <form method="post" action="" id="form-wrap">
            <input id="search-text-id" type="text" name="search-text">
            <input id="search-enter-id" type="submit" value="Submit">
            <br>
            <input type="checkbox" name="twitter">
            <label for="twitter">Twitter</label>
            <input type="checkbox" name="reddit">
            <label for="twitter">Reddit</label>
        </form>

        <script src="js/api_wrapper.js"></script>
        <script src="js/constants.js"></script>
        <script src="js/have_they_said.js"></script>
    </body>
</html>